{% extends 'base.html.twig' %}
{% block principal %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="page-content">
					<!-- ***** Banner Start ***** -->
					<div class="row">
						<div class="col-lg-12">
							<div class="main-profile ">
								<h1 style="margin-bottom: 30px; color: #ec6090">
									<em style="text-decoration: none; font-style: normal; color:whitesmoke">My</em>
									profile</h1>
								<div class="row">
									<div class="col-lg-4">
										<img src="{{ asset(app.user.getProfileImageUrl()) }}" alt="" style="border-radius: 23px;">
									</div>
									<div class="col-lg-4 align-self-center">
										<div class="main-info header-text">
											<h4 style="color: whitesmoke">
												{{ app.user.username}}
											</h4>
											<p>Post A New Post By Touching The Button Below.</p>
											<div class="main-border-button">
												<a href="/posts/new">Create post</a>
											</div>
										</div>
									</div>
									<div class="col-lg-4 align-self-center">
										<ul>
											<li>Games Downloaded
												<span>0</span>
											</li>
											<li>Friends Online
												<span>0</span>
											</li>
											<li>Posts
												<span>
													{{ app.user.numPosts}}
												</span>
											</li>
											<li>Clips
												<span>0</span>
											</li>
										</ul>
									</div>
									<div>
										<br>
										<button class="btn btn-dark" style="border: 1px grey solid">
											<a href="{{ path('app_change_password', {'id': app.user.id}) }}">
												<i class="fa fa-sign-out sr-icons"></i>
												Change Password
											</a>
										</button>
										<button class="btn btn-dark" style="border: 1px grey solid">
											<a href="{{ path('app_change_profile_image', {'id': app.user.id}) }}">
												<i class="fa fa-sign-out sr-icons"></i>
												Change Profile Image
											</a>
										</button>
									</div>
								</div>
							</div>
							<div class="most-popular">
								<div class="row">
									<div class="col-lg-12">
										<div class="heading-section">
											<h4>
												<em style="color:whitesmoke; text-decoration: none">My</em>
												Posts</h4>
										</div>
										<div class="row">
											{% for post in posts %}
												<div class="col-lg-4 col-sm-3">
													<div class="item" style="min-height: 450px" ;>
														<a href="/posts/{{ post.id }}"><img style="min-height: 185px; max-height: 185px" src="{{ asset(post.getUrlImagenPost()) }}" alt="{{ post.titulo }}"></a>
														<h4 class="col-lg-12">
															{{ post.titulo }}
														</h4>
														<p class="col-lg-12">
															{{ post.descripcion }}
														</p>
														<div class="down-content">
														<p class="ms-2 mt-2">
															<i class="fa fa-user me-1" aria-hidden="true"></i>
																{{ post.idCreador}}
																<i class="fa fa-calendar" aria-hidden="true" style="margin-left: 15px"></i>
																{{ post.fecha|date('d/m/y', 'Europe/Madrid') }}
															</p>
															<p style="margin-top: 10px; margin-left: 5px">
																<i class="fa fa-gamepad"></i>
																{{ post.idJuego }}
															</p>
														</p>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
