{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.username) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.profileImage) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
    <button class="btn btn-primary mb-3">{{ button_label|default('Registrar usuario') }}</button>
{{ form_end(form) }}
