{% extends 'base.html.twig' %}

{% block title %}Usuarios
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-10 mx-auto" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px">Users</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Email</th>
						<th>Role</th>
						<th>ProfileImage</th>
						<th>NumPosts</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in usuarios %}
						<tr>
							<td>{{ usuario.id }}</td>
							<td>{{ usuario.username }}</td>
							<td>{{ usuario.email }}</td>
							<td>{{ usuario.roles|join(', ') }}</td>
							<td>{{ usuario.profileImage }}</td>
							<td>{{ usuario.numPosts }}</td>
							<td>
								<a class="btn btn-secondary" href="{{ path('app_usuarios_show', {'id': usuario.id}) }}">See Detail</a>
								<a class="btn btn-primary" href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">No users found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary ms-2" href="{{ path('app_register') }}">Create new user</a>
		</div>
	</div>
{% endblock %}
