{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block principal %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ usuario.roles }}</td>
            </tr>
            <tr>
                <th>ProfileImage</th>
                <td>{{ usuario.profileImage }}</td>
            </tr>
            <tr>
                <th>NumPosts</th>
                <td>{{ usuario.numPosts }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usuario_index') }}">Volver a la lista</a>

    <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">Editar</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
