{% extends 'base.html.twig' %}
{% block principal %}
	<div class="container">
		<div class="page-content">
			<div class="row">
				<div class="col-lg-8">
					<div class="featured-games header-text">
						<div class="heading-section">
							<h4>
								<em style="color:whitesmoke">Featured</em>
								Games</h4>
						</div>
						<div class="row">
							{% for juego in juegosConMejorValoracion %}
								<div class="col-lg-4 col-sm-4">
									<div class="item">
										<div class="thumb">
											<a href="/games/{{ juego.id }}"><img src="{{ asset(juego.getUrlImagenJuego()) }}" alt="{{ juego.nombre }}" style="cursor: pointer"></a>
											<div class="hover-effect">
												<h6 style="cursor: pointer">{{ juego.nombre }}
												</h6>
											</div>
										</div>
										<a href="/games/{{ juego.id }}">
											<h4 class="col-lg-8" style="cursor: pointer">
												{{ juego.nombre }}
												<br><span style="cursor: pointer">{{ juego.categoria }}
												</span>
											</h4>
										</a>
										<ul>
											<li>
												<i class="fa fa-star"></i>
												{{ juego.rating }}
											</li>
											<li>
												<i class="fa fa-money-bill text-success"></i>
												{{ juego.precio }}
											</li>
											<li>
												<i class="fa fa-download"></i>
												{{ juego.numDownloads }}
											</li>
										</ul>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="top-downloaded">
						<div class="heading-section">
							<h4>
								<em style="color:whitesmoke">Top</em>
								Downloaded</h4>
						</div>
						<ul>
							{% for juego in juegosConMasDescargas %}
								<li>
									<a href="/games/{{ juego.id }}"><img src="{{ asset(juego.getUrlImagenJuego()) }}" alt="{{ juego.nombre }}" class="templatemo-item"></a>
									<a href="/games/{{ juego.id }}">
										<h4>
											{{ juego.nombre }}
										</h4>
										<h6>
											{{ juego.categoria }}
										</h6>
										<span>
											<i class="fa fa-star" style="color: yellow;"></i>
											{{ juego.rating }}
										</span>
										<span>
											<i class="fa fa-download" style="color: #ec6090;"></i>
											{{ juego.numDownloads }}
										</span>
										<div class="download">
											<a href="#">
												<i class="fa fa-download"></i>
											</a>
										</div>
									</li>
								</li>
							</a>
						</li>
					{% endfor %}
				</ul>
				<div class="text-button">
					<a href="#all-games">View All Games</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="most-popular" id="all-games">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-section">
						<h4>
							<em style="color:whitesmoke; text-decoration: none">All</em>
							Games</h4>
					</div>
					<div class="row">
						{% for juego in juegos %}
							<div class="col-lg-2 col-sm-4">
								<div class="item" style="min-height: 390px" ;>
									<a href="/games/{{ juego.id }}"><img src="{{ asset(juego.getUrlImagenJuego()) }}" alt="{{ juego.nombre }}"></a>
									<a href="/games/{{ juego.id }}">
										<h4 class="col-lg-12 ps-0 mb-2" style="font-size: 14px">
											{{ juego.nombre }}
											<br>
											<span>{{ juego.categoria }}</span>
										</h4>
									</a>
									<p>
										<i class="fa fa-star" style="color: yellow"></i>
										{{ juego.rating }}
									</p>
									<p>
										<i class="fa fa-money-bill text-success"></i>
										{{ juego.precio }}€
									</p>
									<p>
										<i class="fa fa-download" style="color: #ec6090"></i>
										{{ juego.NumDownloads}}
									</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="col-lg-12 text-center mt-5">
						{% if is_granted('IS_AUTHENTICATED') %}
							<div class="main-button">
								<a href="/games/new">Create game</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
