{{ form_start(form) }}
<div class="container">
	<div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>
	<div class="row">
		<div class="col-md-8">
			{{ form_row(form.nombre) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.categoria,{'label':'Categoria:','label_attr': {'class':'etiqueta'}}) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.descripcion,) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.numVisualizaciones,) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.numLikes) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.numDownloads) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{{ form_row(form.fecha,{'label':'Fecha de creación:','label_attr': {'class':'etiqueta'}}) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.password) }}
		</div>
	</div>
	<div class="row">
		<button class="btn">{{ button_label|default('Guardar') }}</button>
	</div>
</div>
{{ form_end(form) }}
