{% extends 'base.html.twig' %}

{% block title %}Listado de imágenes
{% endblock %}

{% block principal %}
	<h1>Listado de imágenes</h1>

	<form action="{{ path('app_imagen_index_busqueda') }}" method="post">
		<label>Búsqueda:</label>
		<input type="text" name="busqueda" id="busqueda" value="{{ busqueda | default('') }}">
		<input type="date" name="fechaInicial" id="fechaInicial" value="{{ fechaInicial | default('') }}">
		<input type="date" name="fechaFinal" id="fechaFinal" value="{{ fechaFinal | default('') }}">
		<input type="submit" value="Buscar">
	</form>

	{% for message in app.flashes('mensaje') %}
		<div class="alert alert-primary" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'id'}) }}">Id</a>
				</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'nombre'}) }}">Imagen</a>
				</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'descripcion'}) }}">Descripción</a>
				</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'categoria'}) }}">Categoría</a>
				</th>
				<th>NumVisualizaciones</th>
				<th>NumLikes</th>
				<th>NumDownloads</th>
				<th>Fecha</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for imagen in imagenes %}
				<tr>
					<td>{{ imagen.id }}</td>
					<td><img src="{{ asset(imagen.getUrlGallery()) }}" alt="{{ imagen.nombre }}" width="100px"></td>
					<td>{{ imagen.descripcion }}</td>
					<td>{{ imagen.categoria }}</td>
					<td>{{ imagen.numVisualizaciones }}</td>
					<td>{{ imagen.numLikes }}</td>
					<td>{{ imagen.numDownloads }}</td>
					<td>{{ imagen.fecha | date('d/m/Y') }}</td>
					<td>
						<a href="{{ path('app_imagen_show', {'id': imagen.id}) }}">Mostrar</a>
						<a href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">Editar</a>
						<a href="{{ path('app_imagen_delete_json', {'id': imagen.id}) }}" class="delete">Borrar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_imagen_new') }}">Create new</a>
{% endblock %}
