{% extends 'base.html.twig' %}

{% block title %}Categorias
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-4" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px">Categories</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for categorium in categorias %}
						<tr>
							<td>{{ categorium.id }}</td>
							<td>{{ categorium.nombre }}</td>
							<td>
								<a class="btn btn-secondary" href="{{ path('app_categoria_show', {'id': categorium.id}) }}">See Detail</a>
								<a class="btn btn-primary" href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">No se encontraron registros</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary ms-2" href="{{ path('app_categoria_new') }}">Create new category</a>
		</div>
	</div>
{% endblock %}
