{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-6" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px">Category</h1>

			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ categorium.id }}</td>
					</tr>
					<tr>
						<th>Nombre</th>
						<td>{{ categorium.nombre }}</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<a class="btn btn-primary col-1 ms-3 mb-3" href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Edit</a>
			</div>

			{{ include('categoria/_delete_form.html.twig') }}

      <a href="{{ path('app_categoria') }}">Go back to categories</a>
		</div>
	</div>
{% endblock %}
