<header class="header-area header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav
					class="main-nav">
					<!-- ***** Logo Start ***** -->
					<a href="/" class="logo">
						<img src="{{ asset('images/logo/logo.png') }}" alt="">
					</a>
					<!-- ***** Logo End ***** -->
					<!-- ***** Menu Start ***** -->
					<ul class="nav">
					{% if app.request.pathinfo=='/index' or app.request.pathinfo=='/' %}
						<li class="active lien">
					{% else %}
						<li class="lien">
					{% endif %}
							<a href="{{ path('app_index') }}">
								Home</a>
						</li>

					{% if app.request.pathinfo=='/browse' %}
						<li class="active lien">
					{% else %}
							<li class="lien">
					{% endif %}
							<a href="{{ path('app_browse') }}">
								Browse</a>
						</li>

					{% if app.request.pathinfo=='/games' %}
						<li class="active lien">
					{% else %}
							<li class="lien">
					{% endif %}
							<a href="{{ path('app_games') }}">
								Games</a>
						</li>

					{% if app.request.pathinfo=='/posts' %}
						<li class="active lien">
					{% else %}
							<li class="lien">
					{% endif %}
							<a href="{{ path('app_posts') }}">
								Posts</a>
						</li>

					{% if is_granted('IS_AUTHENTICATED') %}
				{% if app.request.pathinfo=='/profile' %}
					<li class="active lien">
					{% else %}
						<li class="lien">
						{% endif %}
						<a href="{{ path('app_profile') }}">
							Profile</a>
					</li>
					<li class="lien mt-1">
						<a href={{ path('app_logout') }}>
							<i class="fa fa-sign-out sr-icons"></i>
							Logout -
							{{ app.user.username }}</a>
					</li>
					{% else %}
					<li class="lien">
						<a href={{ path('app_login') }}>
							<i class="fa fa-sign-in sr-icons me-1"></i>
							Login</a>
					</li>
					<li class="lien mt-1">
						<a href={{ path('app_register') }}>
							<i class="fa fa-user sr-icons me-1"></i>
						  Register</a>
					</li>
					{% endif %}

					{# <?php
						$usuariosRepository = App::getRepository(UsuariosRepository::class);
						$usuario = $usuariosRepository->findUserById($_SESSION["loguedUser"]);

						if ($usuario->getRole() === "ROLE_ADMIN")
							if (Utils::esOpcionMenuActiva("/users"))
								echo '<li><a href="/users" class="active">Users</a></li>';
							else
								echo '<li><a href="/users">Users</a></li>';
						?>

						<li>
							<a href="/profile">
								<?= $app['user']->getUsername() ?>
								<img src="{{ asset('images/imagenes_perfil/' + ) }}" alt="">
								<img src="../public/images/imagenes_perfil/<?= $app['user']->getProfileImage() ?>" alt="">
							</a>
						</li>
						<?php endif; ?> #}
					</ul>
					<a class='menu-trigger'>
						<span>Menu</span>
					</a>
					<!-- ***** Menu End ***** -->
				</nav>
			</div>
		</div>
	</div>
</header>
