<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" hreff="#page-top">
				<span>[PHOTO]</span>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="menu">
			<ul class="nav navbar-nav">
				{% if app.request.pathinfo=='/index' or app.request.pathinfo=='/' %}
					<li class="active lien">
					{% else %}
						<li class="lien">
						{% endif %}
						<a href="{{ path('sym_index') }}">
							<i class="fa fa-home sr-icons"></i>
							Home</a>
					</li>

					{% if app.request.pathinfo=='/imagen' %}
						<li class="active lien">
						{% else %}
							<li class="lien">
							{% endif %}
							{% if is_granted('IS_AUTHENTICATED') %}
								<a href="{{ path('app_imagen_index') }}">
									<i class="fa fa-bookmark sr-icons"></i>
									Gallery</a>
							{% endif %}
						</li>

						{% if app.request.pathinfo=='/about' %}
							<li class="active lien">
							{% else %}
								<li class="lien">
								{% endif %}
								<a href="{{ path('sym_about') }}">
									<i class="fa fa-question sr-icons"></i>
									About</a>
							</li>


							{% if app.request.pathinfo=='/blog' %}
								<li class="active lien">
								{% else %}
									<li class="lien">
									{% endif %}
									<a href="{{ path('sym_blog') }}">
										<i class="fa fa-phone-square sr-icons"></i>
										Blog</a>
								</li>

								{% if app.request.pathinfo=='/contact' %}
									<li class="active lien">
									{% else %}
										<li class="lien">
										{% endif %}
										<a href="{{ path('sym_contact') }}">
											<i class="fa fa-file-text sr-icons"></i>
											Contact</a>
									</li>
									{% if is_granted('IS_AUTHENTICATED') %}
										<li class=" lien">
											<a href={{ path('app_logout') }}>
												<i class="fa fa-sign-out sr-icons"></i>
												Logout -
												{{
								app.user.username }}</a>
										</li>
									{% else %}
										<li class=" lien">
											<a href={{ path('app_login') }}>
												<i class="fa fa-sign-in sr-icons"></i>
												Login</a>
										</li>
										<li class=" lien">
											<a href={{ path('app_register') }}>
												<i class="fa fa-user sr-icons"></i>
												Register</a>
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</nav>
