{% extends 'base.html.twig' %}
{% block principal %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div
					class="page-content">
					<!-- ***** Popular Posts Start ***** -->
					<div class="row">
						<div class="most popular">
							<div class="col-lg-12" style="margin: 0px">
								<div class="featured-games header-text">
									<div class="heading-section">
										<h4>
											<em style="color:whitesmoke">Most Popular</em>
											Posts</h4>
									</div>
									<div class="row">
										{% for post in postsConMasLikes %}
											<div class="col-lg-3 col-sm-6">
												<div class="item">
													<div class="like-count" style="position: relative; padding: 5px; border-radius: 20px; color: whitesmoke;">
														<p>
															<i class="fa fa-thumbs-up"></i>
															{{ post.numLikes }}
															Likes
														</p>
													</div>
													<div class="thumb">
														<a href="/posts/{{ post.id }}"><img style="min-height: 155px; max-height: 155px" src="{{ asset(post.getUrlImagenPost()) }}" alt="{{ post.titulo }}" style="cursor: pointer; min-height: 150px"></a>
														<div class="hover-effect">
															<div class="content">
																<div class="main-button" style="font-size: 1px">
																	<a href="/games/{{post.idJuego}}">
																		<i class="fa fa-gamepad"></i>
																		{{ post.idJuego }}
																	</a>
																</div>
															</div>
														</div>
													</div>
													<div class="down-content">
														<p class="text-center mt-2">
															<i class="fa fa-user me-1" aria-hidden="true"></i>
														{{ post.idCreador }}
															<i class="fa fa-calendar" aria-hidden="true" style="margin-left: 15px;"></i>
															{{ post.fecha|date('d/m/y', 'Europe/Madrid') }}
														</p>
														<h6 class="text-center mt-1" style="font-style: normal; color: whitesmoke;">
															{{ post.titulo }}
														</h6>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<!-- ***** Post End ***** -->
						</div>
					</div>
					<!-- ***** Popular Posts End ***** -->

					<!-- ***** All Posts Start ***** -->
					<div class="most-popular">
						<div class="row">
							<div class="col-lg-12">
								<div class="heading-section">
									<h4 class="mb-2">
										<em style="color:whitesmoke; text-decoration: none">All</em>
										Posts</h4>
								</div>
								<div class="row my-4" style="display: flex">
									<a class="col-md-2" href="{{ path("app_posts_ordenado", {ordenacion: 'id'}) }}">Order by Id 🔽</a>
									<a class="col-md-2" href="{{ path("app_posts_ordenado", {ordenacion: 'titulo'}) }}">Order by Title 🔽</a>
									<a class="col-md-3" href="{{ path("app_posts_ordenado", {ordenacion: 'descripcion'}) }}">Order by Description 🔽</a>
									<a class="col-md-2" href="{{ path("app_posts_ordenado", {ordenacion: 'idCreador'}) }}">Order by Creator 🔽</a>
								</div>
								<div class="row">
									{% for post in posts %}<br>
										<div class="col-lg-4 col-sm-3">
											<div class="item" style="min-height: 450px" ;>
												<a href="/posts/{{ post.id }}"><img style="min-height: 185px; max-height: 185px" src="{{ asset(post.getUrlImagenPost()) }}" alt=""></a>
												<h4 class="col-lg-12">
													{{ post.titulo }}
												</h4>
												<p class="col-lg-12 my-2">
													{{ post.descripcion}}
												</p>
												<div class="down-content">
													<p class="text-center">
														<i class="fa fa-user me-1" aria-hidden="true"></i>
														{{ post.idCreador }}
														<i class="fa fa-calendar me-1	" aria-hidden="true" style="margin-left: 15px"></i>
														{{ post.fecha|date('d/m/Y H:i', 'Europe/Madrid') }}
													</p>
													<p class="text-center">
														<i class="fa fa-gamepad"></i>
														{{ post.idJuego}}
													</p>
												</p>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							<div class="col-lg-12 text-center mt-5">
								{% if is_granted('IS_AUTHENTICATED') %}
									<div class="main-button">
										<a href="/posts/new">Create post</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- ***** All Posts End ***** -->
			</div>
		</div>
	</div>
{% endblock %}
