{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block principal %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ post.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ post.imagen }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ post.fecha ? post.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NumLikes</th>
                <td>{{ post.numLikes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">Volver a la lista</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Editar</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
