{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-6" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px">Post</h1>

			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ post.id }}</td>
					</tr>
					<tr>
						<th>Creador</th>
						<td>{{ post.idCreador }}</td>
					</tr>
					<tr>
						<th>Titulo</th>
						<td>{{ post.titulo }}</td>
					</tr>
					<tr>
						<th>Descripcion</th>
						<td>{{ post.descripcion }}</td>
					</tr>
					<tr>
						<th>Imagen</th>
						<td><img src="{{ asset('/images/posts/' ~ post.imagen) }}" style="height: 200px; width: 400px"</td>
					</tr>
					<tr>
						<th>Fecha</th>
						<td>{{ post.fecha ? post.fecha|date('d/m/Y H:i') : '' }}</td>
					</tr>
					<tr>
						<th>Juego</th>
						<td>{{ post.idJuego }}</td>
					</tr>
					<tr>
						<th>NumLikes</th>
						<td>{{ post.numLikes }}</td>
					</tr>
				</tbody>
			</table>

			{% if post.idCreador == app.user %}
				<div class="row">
					<a class="btn btn-primary col-1 ms-3 mb-3" href="{{ path('app_posts_edit', {'id': post.id}) }}">Edit</a>
				</div>

				{{ include('post/_delete_form.html.twig') }}
			{% endif %}

			<a href="{{ path('app_posts') }}">Go back to posts</a>

		</div>
	</div>
{% endblock %}
